# Ignoring large model files
reid/reid_model/resnet101_ibn_a_2.pth
reid/reid_model/resnet101_ibn_a_3.pth
reid/reid_model/resnext101_ibn_a_2.pth
detector/yolov8x.pt
detector/yolov9e.pt

# Ignoring datasets directory
datasets/

detector-MaskRCNN/mask_rcnn_coco.h5
